<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/success.css') }}">
        <title>CloudCryptic | EASS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Arimo:wght@500&family=Black+Ops+One&family=Fragment+Mono&family=Pixelify+Sans:wght@700&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

        <style>
            main {
                background-image: url('{{ url_for("static", filename="img/encrypted.png") }}');
                background-size: 40%;
                z-index: -1;
                /* padding-top: 2rem;
                padding-left: 3rem; */
                /* background-position: center; */
                background-repeat: no-repeat;
                /* background-color: #62c4f1; */
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="logo"><span class="fhalf">Cloud</span><span class="shalf">Cryptic</span></h1>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Encryption Standards</a></li>
                    <li><a href="#" id = "last">About</a></li>
                </ul>
            </nav>
            <a href="#" class="cta">
                <button class="btn">Contact</button>
            </a>
        </header>

        <main>
            <div class="heading">
                <h1>Cloud<span>Cryptic</span></h1>
                <p>Secure File Storage using 'Hybrid Cryptography'</p>
            </div>

            <div class="result">
                <h2>SUCCESS</h2>
                <h3>You file has been encrypted.</h3>
                <p>Download the key now! This key will be provided to you via Email.
                <p id = "AAA">You will not get any other option to download this key</p>
            </div>

            <div class="buttons">
                <a href="/return-key"><button class = "download_btn">Download Key</button></a>
                <a href="/home"><button class = "backHome_btn">Back To Home</button></a>
            </div>
        </main>
    </body>
</html>